.hidden { display: none; } /* 画面切り替え用 */
#game-area { 
    margin-top: 20px;

    background: radial-gradient(circle, #444, #000);
    color: white;
    border-radius: 50px;
    padding: 12px 30px;
    border: 3px solid white;
    font-weight: bold;
}

:root{
    background-image: url(othello.jpg);
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 50px); /* 8列 */
    grid-template-rows: repeat(8, 50px); /* 8行 */
    gap: 2px;
    /*
    background-color: #333;
    border: 5px solid #555;
    */
}
.cell {
    width: 50px;
    height: 50px;
    background-color: #008000; /* オセロの緑 */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.disc {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* 丸くする */
    display: none; /* 最初は非表示 */
}
/* 黒石と白石のスタイル */
.disc.black {
    background-color: black;
    display: block;
}
.disc.white {
    background-color: white;
    display: block;
}

#title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to right, black 50%, white 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;      
    padding: 20px 60px;         
    border-radius: 100px;       
    border: 3px solid white;  
}
#create-btn, #join-btn, #pass, #finish
{
    width: 75px;
    height: 75px;
    border-radius: 50%;             
    border: 4px solid white;
 
    background: radial-gradient(circle at 30% 30%, #666, #000);
    color: white;
    font-weight: bold;
    font-size: 16px;
}
#room-id-input, #output
{
    background: radial-gradient(circle, #444, #000);
    color: white;
    border-radius: 50px;
    padding: 12px 30px;
    border: 3px solid white;
    font-weight: bold;
}

